.ArtistGallery {
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: .25rem;
  box-sizing: border-box;
  border: 1px solid blue;
  border-radius: .5rem;
  width: 90%;
}

.ArtistGalleryThumbnail {
  margin: .5rem;
  border: 1px solid indigo;
  border-radius: .25rem;
}